/* trying normalize to fix extra whitespace at top of index.html */

* {
overflow:hidden; /* or auto */
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  padding: 0;
  margin: 0;
}